{% extends "main.html" %}
{% block content %}
	<div class="row banner main">
	<center><div id="heading"><br><br>ADD PLACE</div></center></div>
		<center>
			<form action="#" method = "post">
				<center><input style="width: 380px; background-color: #fff; color: #000; height: 40px; border-radius: 5px; font-size: 30px;" type ="text" maxlength="100" name="name"></center>
				<br>
				<center><button type="submit" style="color: #fff; background-color: #000; width: 180px; height: 42px; border-radius: 4px; font-size: 28px;" class="btn btn-default" id="submit" type="submit">Create</button></center>
			</form>
		</center>
{% endblock %}
